{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Previous names you have told us about</h1>

    {{ govukSummaryList({
      rows: names
    }) }}

    <form class="form" action="other-names-list-answer" method="post">

      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
