{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="q04-any-other-names">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">What other names have you been known by?</h1>

    <form class="form" action="/url/of/next/page" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="given-names">
            Given names
          </label>
          <input class="govuk-input" id="given-names" name="given-names" type="text" autocomplete="name" spellcheck="false">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="family-name">
            Family name
        </label>
        <input class="govuk-input" id="family-name" name="family-name" type="text" autocomplete="name" spellcheck="false">
      </div>

      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
