{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for a National Insurance number</h1>

    <p class="govuk-body-l">You only need to apply for a National Insurance number if you work, or plan to work, in the UK.</p>

    <h2 class="govuk-heading-l">How to apply</h2>

    <p class="govuk-body">To use this service you must:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
      <li>be in the UK</li>
      <li>have the right to work in the UK</li>
    </ul>

    <p class="govuk-body">You will need to :</p>

    <ol class="govuk-list govuk-list--number">
      <li>Apply online.</li>
      <li>Book an appointment to show us your identity documents (we will tell you which identity documents to bring with you later in your application).</li>
      <li>Attend the appointment.</li>
    </ol>

    <p class="govuk-body govuk-!-margin-bottom-6">You will recieve a decision on your application within 8 weeks.</p>

    <a href="version-02/q01-in-work" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

    <p class="govuk-body">For help with an application, call the application line:</p>

    <div class="govuk-inset-text">
      <p class="govuk-body"><strong>National Insurance number application line </strong><br>
        Telephone: 0800 141 2075<br>
        Textphone: 0800 141 2438 <br>
        Monday to Friday, 8am to 6pm
      </p>
      <p class="govuk-body">Welsh language: 0800 141 2349 <br>
        Monday to Friday, 8:30am to 5pm <br>
        <a href="#" class="govuk-link">Find out about call charges</a>
      </p>
    </div>

  </div>
</div>






{% endblock %}
