{% extends "layout.html" %}

{% block pageTitle %}
  Address
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="q10-2-address">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Where can we send letters?</h1>

      <form class="form" action="q11-different-address" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="gender-1" name="gender" type="radio" value="Male">
                <label class="govuk-label govuk-radios__label" for="gender-1">
                  30 Springbank road
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="gender-2" name="gender" type="radio" value="Female">
                <label class="govuk-label govuk-radios__label" for="gender-2">
                  Another address
                </label>
              </div>

            </div>

          </fieldset>
        </div>

        <!--<div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

              <p></p>

              <h3 class="govuk-heading-m">Is this address also your correspondence address?</h3>

            <p class="govuk-hint">We may use this address to contact you about your application, including after it has been decided.</p>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="is-correspondence-1" name="is-correspondence" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="is-correspondence-1">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="is-correspondence-2" name="is-correspondence" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="is-correspondence-2">
                  No
                </label>
              </div>

            </div>

          </fieldset>
        </div>-->

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
