
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for a National Insurance number</h1>

      <p class="govuk-body">You only need to apply for a National Insurance number if you work, or plan to work, in the UK.</p>

      <h2 class="govuk-heading-l">Before you apply</h2>

      <p class="govuk-body">Check <a href="#" class="govuk-link">how to find a lost National Insurance number</a>.</p>

      <h3 class="govuk-heading-m">If you’re a UK resident aged 19 or under</h3>

      <p class="govuk-body">You’ll normally be sent a National Insurance number automatically, in the 3 months before your 16th birthday, if both the following are true:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you live in the UK</li>
        <li>a parent has filled in a <a href="#" class="govuk-link">Child Benefit</a> claim form for you</li>
      </ul>

      <p class="govuk-body">If you’re aged 16 to 19 and did not get one, <a href="#" class="govuk-link">call HM Revenue and Customs</a>.</p>

      <h3 class="govuk-heading-m">If you’re moving to the UK</h3>

      <p class="govuk-body">You may already have a National Insurance (NI) number which will be printed on the back of <a href="#" class="govuk-link">your biometric residence permit (BRP)</a>.</p>

      <p class="govuk-body">If you do not have one, you must apply for a National Insurance number if you plan to work. You can only apply once you’re in the UK.</p>

      <h2 class="govuk-heading-l">How to apply</h2>

      <p class="govuk-body">To use this service you must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>be in the UK</li>
        <li>have the right to work in the UK</li>
      </ul>

      <a href="version-01/q01-in-work" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

      <p class="govuk-body">For help with an application, call the application line</p>

      <div class="govuk-inset-text">
        <p class="govuk-body"><strong>National Insurance number application line </strong><br>
          Telephone: 0800 141 2075<br>
          Textphone: 0800 141 2438 <br>
          Monday to Friday, 8am to 6pm
        </p>
      <p class="govuk-body">Welsh language: 0800 141 2349 <br>
        Monday to Friday, 8:30am to 5pm <br>
        <a href="#" class="govuk-link">Find out about call charges</a>
      </p>
      </div>

  </div>
</div>






{% endblock %}
