{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="q02-in-work.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You do not need to apply for a National Insurance number
      </h1>

      <p>You do not need to apply for a National Insurance number unless you work or plan to work in the UK</p>

      <p>If you need to apply for <a href="https://www.gov.uk/browse/benefits">benefits</a> or <a href="https://www.gov.uk/browse/education/student-finance">a student loan</a>, you will make an application for a National Insurance number as part of that process.</p>

    </div>
  </div>

{% endblock %}
