{% extends "layout.html" %}

{% block pageTitle %}
  Address
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="q09-arrival.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is your address in the UK?</h1>

      <form class="form" action="q10-1-address" method="post">

        <div class="govuk-form-group">
          <h3 class="govuk-label-wrapper"><label class="govuk-label" for="postcode">
                Postcode
              </label>

            </h3>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">
        </div>

        <button class="govuk-button">Find address</button>

        <p><a class="govuk-link" href="#">Enter your address manually</a></p>

      </form>

    </div>
  </div>

{% endblock %}
