<!DOCTYPE html>
<html>
  <head>
    <style>

    body {
        margin: 0;
        padding: 0;
        background-image: url("second_bgd.jpg");
    }

    .afn-outer-div
    {

    }
    .afn-inner-div
    {
      margin: 0 auto;
      width: 1000px;
      background-color: #ccc;
    }

    </style>
  </head>
  <body>
    <div class="afn-outer-div"><div class="afn-inner-div"><a href="q02-8-second-img-uploaded"><img src="/public/images/second_upload_1000px.jpg"></a></div></div>

  </body>
</html>
