{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="q02-2-have-brp">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Call the National Insurance number application line to apply</h1>

    <div class="govuk-inset-text">
      <p class="govuk-body"><strong>National Insurance number application line </strong><br>
        Telephone: 0800 141 2075<br>
        Textphone: 0800 141 2438 <br>
        Monday to Friday, 8am to 6pm
      </p>
      <p class="govuk-body">Welsh language: 0800 141 2349 <br>
        Monday to Friday, 8:30am to 5pm <br>
        <a href="#" class="govuk-link">Find out about call charges</a>
      </p>
    </div>

      <h3 class="govuk-heading-m">After you’ve applied</h3>
      <p class="govuk-body">You’ll get a letter from the Department for Work and Pensions (DWP) asking you to come to a National Insurance number interview at Jobcentre Plus.</p>

      <p class="govuk-body">The letter will also tell you which documents to bring to prove your identity, such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>passport or identity card</li>
        <li>birth or adoption certificate</li>
        <li>marriage or civil partnership certificate</li>
        <li>driving licence</li>
      </ul>

      <p class="govuk-body">At the interview, you’ll be asked about your circumstances and why you need a National Insurance number. You’ll also be told how long it’ll take to get your National Insurance number.</p>

      <div class="govuk-inset-text">
        <p class="govuk-body">If you change your address before you get your letter, tell DWP by contacting the National Insurance number application line.</p>
      </div>

      <h3 class="govuk-heading-m">Working without a National Insurance number</h3>
      <p class="govuk-body">You can start work before your National Insurance number arrives if you can <a href="">prove you can work in the UK</a> . You should tell your employer that you’ve applied for one, and give it to them when you have it.</p>




  </div>
</div>






{% endblock %}
