{% extends "layout.html" %}

{% block pageTitle %}
  Address
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Select your address</h1>
      <!--<p>What is your address in the UK?</p>-->

      <form class="form" action="address-03" method="post">

        <div class="govuk-form-group">
          <p class="govuk-body govuk-!-margin-bottom-8"><strong>Postcode:</strong> {{ data['postcode'] }}<br/>
          <a class="govuk-link" href="q10-address">Change</a>
          </p>
        </div>

        <div class="govuk-form-group">
          <h3 class="govuk-label-wrapper"><label class="govuk-label" for="address">
                Select an address
              </label>
          </h3>
          <select class="govuk-select" id="address" name="address">
            <option value="30 Springbank Road" selected>3 addresses found</option>
            <option value="30 Springbank Road">30 Springbank Road, Newcastle upon Tyne</option>
            <option value="32 Springbank Road">32 Springbank Road, Newcastle upon Tyne</option>
            <option value="34 Springbank Road">34 Springbank Road, Newcastle upon Tyne</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <p class="govuk-body"><a class="govuk-link" href="#">Enter your address manually</a></p>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
