{% extends "layout.html" %}

{% block pageTitle %}
  Address
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Address not found</h1>
      <p class="govuk-!-margin-bottom-8">No address found for <strong>'32'</strong> and <strong>'NE2 9PQ'</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="govuk-link" href="address">Change</a></p>

        <p class="govuk-body govuk-!-margin-bottom-8""><a class="govuk-link" href="address-not-listed">Type in your address</a></p>


    </div>
  </div>

{% endblock %}
