{% extends "layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" action="have-brp" method="post">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Do you have a biometric residence permit (BRP)?
        </h1>
      </legend>

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="have-brp-1" name="have-brp" type="radio" value="Yes" {{ checked("have-brp", "Yes") }}>
          <label class="govuk-label govuk-radios__label" for="have-brp-1">
            Yes
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="have-brp-2" name="have-brp" type="radio" value="No"{{ checked("have-brp", "No") }}>
          <label class="govuk-label govuk-radios__label" for="have-brp-2">
            No
          </label> </div>
      </div>
    </fieldset>
  </div>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Help with biometric residence permit (BRP)
      </span>
    </summary>
    <div class="govuk-details__text">
      A biometric residence permit (BRP) is a secure identity card which contains personal details and biometric information for those who have permission (a visa) to come to the UK for more than 6 months.

      <div class="govuk-details__image govuk-!-padding-bottom-4">
      <img src="/public/images/card-example-nz.png" alt="Image of a biometric residence permit (BRP).">

      <br/><br/>You may already have a National Insurance number on the back of your BRP.

      <br/><br/>It will look like this:

      <br/><br/>QQ 12 34 56 A

      <br/><br/>If you have a National Insurance number on your BRP you can begin using it straight away.


      </div>

      <a href="https://www.gov.uk/biometric-residence-permits">More information about the BRP</a>

    </div>
  </details>

  <button class="govuk-button">Continue</button>

</form>

</div>
</div>

{% endblock %}
