{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Add a photo of the front of your biometric residence permit</h1>

        <p class="govuk-body">The front is the side with your photo on it.</p>

        <p class="govuk-body">You can add a photo already saved on your device or use your device to take a new photo.</p>

        <h3 class="govuk-heading-m">How we need you to take the photo</h3>

        <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-7">
            <li>Put your biometric residence permit on a  flat surface like a table.</li>
            <li>Make sure you are in a well lit place.</li>
            <li>Hold your phone above the permit.</li>
        </ol>

        <form action="upload-brp-image" method="post" enctype="multipart/form-data" id="formData" name="formData" data-form="takeAPhoto" autocomplete="off">
            <div>
                <label id="userPhotoIDLabel" class="button govuk-button" for="userPhotoID">
                    <span role="button" aria-controls="userPhotoIDLabel" tabindex="0">Add photo</span>
                </label>
                <input type="file" accept="image/*,application/pdf"  id="userPhotoID" name="userPhoto" class="display-offscreen" onchange="this.form.submit()">
            </div>
        </form>

     

    </div>
  </div>

{% endblock %}
