{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Add a photo of yourself </h1>

      <p class="govuk-body">You can add a photo already saved on your device or use your device to take a new photo.</p>

      <p class="govuk-body">Make sure you are facing forwards and looking straight at the camera. Your photo must be:</p>

      <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-7">
        <li>clear and in focus.</li>
        <li>in colour.</li>
        <li>unaltered by computer software.</li>
      </ol>

      <form action="upload-self-image" method="post" enctype="multipart/form-data" id="photoForm" name="photoForm" data-form="takeASelfie" autocomplete="off">
        <div>
            <label id="userSelfPhotoIDLabel" class="button govuk-button" for="userSelfPhotoID">
                <span role="button" aria-controls="userSelfPhotoIDLabel" tabindex="0">Add photo</span>
            </label>
            <input type="file" accept="image/*,application/pdf"  id="userSelfPhotoID" name="userSelfPhoto" class="display-offscreen" onchange="this.form.submit()">
        </div>
    </form>

    </div>
  </div>

{% endblock %}
