{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{# DWP Macros #}
{% from "index-page/macro.njk"       import dwpPrototypeSummaries %}

{# App Macros #}
{% from "macros.njk"       import appPrototypeSummaries %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  Apply for a National Insurance number - Prototype
{% endblock %}

{% block header %}
  <header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype">
            <span class="govuk-header__logotype-text">
              DWP
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="dwp-prototype-index-page-top">
      <div class="govuk-width-container">
        <h1 class="govuk-heading-xl">
          {{serviceName}}
          <span>Prototypes</span>
        </h1>
      </div>
    </div>
  </header>
{% endblock %}

<!-- Updtated the node_modules/dwp-design-examples/index-page macro.njk to include a param.title so that feature isn't duplicated - Line 50-->

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block summaries %}

      {{appPrototypeSummaries([
        {
          dateOfRelease: "w/c 24.02.2020",
          feature: "Version 14",
          jiraStory: "-",
          title: "Version 14",
          link: "/version-14/",
          changes: [
            '<p>Updated isolated <a href="version-14/_names/name">Names and other names</a> with <i>Has your name ever changed, for example through marriage?</i> <b>Test scenario:</b> Participant can enter name, different first and surname, followed by different surname and is then presented with the <i>Your names</i> list.</p>
             <p>Isolated <a href="version-14/_contact/address">address lookup, email and phone</a> flow with drop-out pages.</p>'
          ],
          research: [
            " "
          ]
        },


        {
          dateOfRelease: "w/c 24.02.2020",
          feature: "Version 13",
          jiraStory: "-",
          title: "Version 13",
          link: "/version-13/",
          changes: [
            '<p>Updated isolated <a href="version-13/_names/name">Names and other names</a> with <i>Has your name ever changed, for example through marriage?</i> <b>Test scenario:</b> Participant can enter name, different first and surname, followed by different surname and is then presented with the <i>Your names</i> list.</p>
             <p>Isolated <a href="version-13/_contact/address">address lookup, email and phone</a> flow with drop-out pages.</p>'
          ],
          research: [
            " "
          ]
        },

        {
          dateOfRelease: "w/c 27.01.20",
          feature: "12",
          jiraStory: "-",
          title: "Sprint 12",
          link: "/version-12/",
          changes: [
            '<p>Removed <i>name</i> from <i>Property name or number</i> from the address lookup after seven out of seven non-UK participants entered their whole address in the field.</p>

            <p>Added isolated <a href="version-12/_names/name">Names and other names</a> section for usability testing. <b>Test scenario:</b> Participant can enter name, different first and surname, followed by different surname and is then presented with the <i>Your names</i> list.</p>
            <p>Reintroduced <i>male or female</i> question to gather additioinal insight around asking the question.</p>
            <p>Content partially amended to version 12 of the Content review - <b><i>only check your answers to amend</i></b></p>'
          ],
          research: [
          '<p>One user who tested the amended <i>Property name or number</i> address lookup also entered their full addrerss in the field.</p>'
          ]
        },


        {
          dateOfRelease: "24.01.2020",
          feature: "Version 11",
          jiraStory: "-",
          title: "Version 11",
          link: "/version-11/",
          changes: [
            "Address lookup added."
          ],
          research: [
            " "
          ]
        },

        {
          dateOfRelease: "Work in progress",
          feature: "Version 10",
          jiraStory: "-",
          title: "Version 10",
          link: "/version-10/",
          changes: [
            "Have BRP question: abbreviation in brackets and help text drop down with image - help text content needs reviewing, currently lifted from Edinburgh Uni. // BRP Number: Image changed to same number as the hint text. // Passport number: New page added. // Name: Field headings changed to First name and Surname. Removed identity docs from hint text. // Biological sex: Removed. // Date living in the UK: Living changed to arrived. // Date started living at address: Removed. // Different UK address: Removed. // Check your answers: Tidied up, but not complete."
          ],
          research: [
            " "
          ]
        },

        {
          dateOfRelease: "Thur, 3 October 2019",
          feature: "Version 9",
          jiraStory: "-",
          title: "Version 9 - BRP Journey",
          link: "/version-09/",
          changes: [
            "Image upload button styled to look like a GOV.UK green button, evidence from last round of research was that participants didn't see the 'Choose file' button or didn't know what to do when they wanted to take a picture using a phone, as the button call to action was refering to a file as oppose to a photo."
          ],
          research: [
            " "
          ]
        },

        {
          dateOfRelease: "Thur, 26 Sept 2019",
          feature: "Version 8",
          jiraStory: "-",
          title: "Version 8 - BRP Journey",
          link: "/version-08/",
          changes: [
            "Image upload working in the browser - button labels still need to be addressed, but we can test the functionality. Only one image of BRP needed now and self image added with guidance on how to take a decent picture."
          ],
          research: [
            " "
          ]
        },

        {
          dateOfRelease: "Fri, 20 Sept 2019",
          feature: "Version 7",
          jiraStory: "-",
          title: "Version 6 - BRP Journey",
          link: "/version-07/",
          changes: [
            "Nationality moved up front in the application so we don't ask EU applicants if the have a BRP, Gender changed to male or female, Confimration page amended to highlight date and phone number and copy tightened up."
          ],
          research: [
            " "
          ]
        },

          {
            dateOfRelease: "Mon, 9 Sept 2019",
            feature: "Version 6",
            jiraStory: "-",
            title: "Version 6 - BRP Journey",
            link: "/version-06/",
            changes: [
              "Added the name loop for multiple names, image for BRP card, 'what happens next content' on confirmation page."
            ],
            research: [
              " "
            ]
          },

          {
            dateOfRelease: "Thurs, 8 Aug 2019",
            feature: "Version 5",
            jiraStory: "-",
            title: "Version 5 - BRP Journey",
            link: "/version-05/",
            changes: [
              "New start page, eligibility including BRP question, BRP number and picture upload. Alternative start page, providing info upfront without eligibiity questions (/version-05/index_no_eligibility)."
            ],
            research: [
              " "
            ]
          },

          {
            dateOfRelease: "not tested",
            feature: "Version 4",
            jiraStory: "-",
            title: "First iteration: V-04",
            link: "/version-04/",
            changes: [
              "Updated the contact preferences questions with Mr Oakley's routes so the subsequent questions reflect the selected preferences."
            ],
            research: [
              " "
            ]
          },

          {
            dateOfRelease: "16 July 2019",
            feature: "Version 3",
            jiraStory: "-",
            title: "First iteration: V-03",
            link: "/version-03/",
            changes: [
              "We've made various changes, which I'll document when I've got more time."
            ],
            research: [
              " "
            ]
          },

         {
           dateOfRelease: "11 July 2019",
           feature: "Version 2",
           jiraStory: "-",
           title: "First iteration: V-02",
           link: "/version-02/",
           changes: [
             "Start page - index: Amended copy, removed other reasons for a NINo, added numbered list of actions
             // Other names -  q04-any-other-names  - Removed hint text 
             // Postcode  - q10-address  - Reworded question, added details link
             // Phone number  - q12-telephone New question, split out from contact preferences
             // Contact preferences  - q13-contacting-you  - New page, need to sort out routeing
             // Email address  - q13-1-email-address Removed ‘change email address text
             // SMS  - q13-2-sms - New page
             // Postal address  - q13-3-postal-address - New page"
           ],
           research: [
             "Despite the numbered list on the Start page, users still didn't know to call the call centre when they had completed the application. Consider scraping the complete page."
           ]
         },

         {
           dateOfRelease: "4 July 2019",
           feature: "Version 1",
           jiraStory: "-",
           title: "First iteration: V-01",
           link: "/version-01/",
           changes: [
             "First iteration of this question set. Would uses think the reerence number was their National Insurance number?"
           ],
           research: [
             "Users didn't think the reference number was the their National Insurance number, but they didn't realise they needed to call the call centre and thought the were done."
           ]
         }

        ])}}


      {% endblock %}
    </div>
  </div>
{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
