{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="q01-plan-to-work.html">Back</a>
{% endblock %}

{% block content %}

<form class="form" action="/in-work-answer" method="post">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Do you currently work in the UK?
        </h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="in-work-1" name="in-work" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="in-work-1">
            Yes
          </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="in-work-2" name="in-work" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="in-work-2">
            No
          </label> </div>
      </div>
    </fieldset>
  </div>

  <button class="govuk-button">Continue</button>

</form>

{% endblock %}
